/* CSS ES EL POST GENERAL */
body {background: black;}
    * {font-family: 'Roboto', sans-serif;}

.post {background: white;
width: 400px;
margin: auto;
margin-top: 70px;margin-bottom: 70px;}
/* AQUI TERMINA */

/* CSS POST HEADER */
.post-header{height: 55px;display: flex;justify-content: space-between;padding: 8px;align-items: center;}
.post-header-left {display: flex;justify-content: flex-start;}
.post-header-img {padding: 5px;}
.foto-perfil {height: 47px;width: 47px;border-radius: 100% ;object-fit: cover;margin-top: 7px;}
.icon { color: rgb(20, 161, 221);}
.post-header-right { padding-right: 10px;}
.tres-punticos-menu {font-size: 30px; color: rgba(0, 0, 0, 0.8);}
/* AQUI TERMINA */

/* CSS POST IMG */
.imagen-post {width: 400px;height: 400px;}
/* AQUI TERMINA */

/* CSS POST ACTIONS */
.post-actions {display: flex;justify-content: space-between;font-size: 25px; padding: 10px;}
.post-actions-left {font-size: 30px;}
.heart-icon {margin-left: 5px;margin-right: 6.5px;}
.comment-icon {margin-left: 6.5px;margin-right: 6.5px;}
.share-icon {margin-left: 6.5px;margin-right: 6.5px;}

.bookmark-icon {font-size: 30px;margin-right: 5px;}
/* AQUI TERMINA */

/* CSS LIKES CAPTION FECHA */
.post-likes {padding-left: 12px;}
.post-caption{padding: 12px;}
.post-fecha-traduccion{display: flex;}
.post-fecha {padding-left: 12px;color: darkgrey;}
.post-traduccion {padding-left: 1px;}
/* AQUI TERMINA */